table {
    width: 100%;
}

tr {
    border-bottom: 1px solid lightgrey;
}

td, th {
    white-space: nowrap;
    padding: 6px;
}

.admin-container {
    margin: 1em 5em 1em 5em;
}

.toprow {
    border-bottom: 2px solid lightgrey;
}